<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><h3 class="text-primary">CRUD Operations</h3></a>
        </div>
    </nav>
    
    <div class="col-md-6 well">
        
        <hr style="border-top:1px dotted #ccc;"/>
        {% block body %}
 
        {% endblock %}
    </div>
</body>
</html>